* {
  margin: 0;
}

body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }


.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
#toptiny-bar {
  display: flex;
  background-color: rgb(243, 102, 126);
  justify-content: space-between;
  /* align-items: center; */
  padding: 0;
  height: 28px;
  
}

.contacts {
    display: flex;
    justify-content: left;

}

.contact-us {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6); 
  font-family: "Poppins";

}

.nub-add {
  font-family: "Poppins";
  color: white;
  font-size: 12px;

}

.nub-add a {
  text-decoration: none;
  color: white;

}
.social-icons {
  display: flex; 
  flex-direction: row;
  justify-content: space-evenly;
   
}

.social-icons a i {
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: space-between; */
  color: white;
  margin-left: 30px;


}

#nav-bar {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 54px;
  padding: 10px 20px;
  text-decoration: none;
  align-items: center;
  background-color: rgb(255, 255, 255) 
  
}

#nav-links {
    display: flex;
    text-decoration: none;
    column-gap: 40px;
    font-size: 15px;
    color: black;
    padding-right: 50px;
}

/* Add text-decoration to the a elements within nav-links */
#nav-links a {
  text-decoration: none;
  color: black; /* Set the text color */
   font-family: "Poppins"
}

/* Optional: Add hover effect for better user experience */
#nav-links a:hover {
  color: #fd7792; /* Change the color on hover */
  transition: .3s all ease;
}
/* #nav-links .span{
    justify-content: space-between;
} */

#logo {
  /* display: flex; */
  width: 200px;
}

#hero {
  background-image: url(../assets/images/hero.jpg);
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  background-size: 100% 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  /* flex-direction: row; */
  
}
#hero-overlay{
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 20px;
  }



.readmore {
  /* background-color: white; */
  /* padding: 20px; */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 30%;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  background-color: #f0f0f0;
  padding: 40px 20px;
  position: relative;
  top: -25%;

}

.readmore-content{
  background-color: #fff;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 70%;
    margin: 0 10px;
    transform: translateY(-25%);
}


.readmore-content img {
  width: 100%;
  height: auto;
}

.readmore-content h3 {
  font-size: 1.5em;
  margin: 10px 0;
}

.readmore-content p {
  font-size: 1em;
  margin: 10px 0;
}

.readmore-content .column-container button {
  padding: 10px 20px;
  font-size: 1em;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
}

.readmore-content button:hover {
  background-color: #f782da;
}

#about{
  display: flex;
}
  
  #about-text{
  padding: 45px 150px 45px 40px;
  }
  
  #about-image{
  width: 350px;
  height: 300px;
  border-radius: 50px;
  
  }
  
  
  #about-text p{
  text-align: center;
  font-size: 15px;
  color: #666666;
  padding-bottom: 40px;
  }
  
  #about-link{
  text-align: center;
  font-size: 12px;
  
  }
  
  #about-link a{
  text-decoration: none;
  
  }
  #about-link a:hover{
  color: orangered;
  }